<div class="task-columns">
  <div class="task-column">
    <h2>ToDo</h2>
    <div *ngFor="let task of tasks">
      <div *ngIf="task.status.toString() === 'ToDo'">
        <app-task-card [task]="task" (deleteClicked)="onDeleteClicked($event)"></app-task-card>
      </div>
    </div>
  </div>
  
  <div class="task-column">
    <h2>InProgress</h2>
    <div *ngFor="let task of tasks">
      <div *ngIf="task.status.toString() === 'InProgress'">
        <app-task-card [task]="task" (deleteClicked)="onDeleteClicked($event)"></app-task-card>
      </div>
    </div>
  </div>

  <div class="task-column">
    <h2>Done</h2>
    <div *ngFor="let task of tasks">
      <div *ngIf="task.status.toString() === 'Done'">
        <app-task-card [task]="task" (deleteClicked)="onDeleteClicked($event)"></app-task-card>
      </div>
    </div>
  </div>
</div>

  
